* {
    font-family: 'Roboto' sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}


@import 'blocks/promo.scss';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/video';
@import 'blocks/overview';
@import 'blocks/technology';
@import 'blocks/economy';
@import 'blocks/contacts';
@import 'blocks/footer';